*.userprefs
*.TMP
*.sdf
*.suo
*.log
*.tlog
*.pdb
*.exe
*.obj
*.idb
*.ilk
*.opensdf
*.nvuser
*.iobj
*.ipdb
*.pyd
PDB_Python/build/temp.win-amd64-3.5/Release/thumbnail.cp35-win_amd64.exp
PDB_Python/build/temp.win-amd64-3.5/Release/thumbnail.cp35-win_amd64.lib
PDB_Unity/build

client/build/bioblox_Data/Managed/UnityEngine.dll.mdb
client/build/bioblox_Data/Managed/UnityEngine.xml
client/build/bioblox_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
client/build/bioblox_Data/Mono/etc/mono/1.0/machine.config
client/build/bioblox_Data/Mono/etc/mono/2.0/Browsers/Compat.browser
client/build/bioblox_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
client/build/bioblox_Data/Mono/etc/mono/2.0/machine.config
client/build/bioblox_Data/Mono/etc/mono/2.0/settings.map
client/build/bioblox_Data/Mono/etc/mono/2.0/web.config
client/build/bioblox_Data/Mono/etc/mono/browscap.ini
client/build/bioblox_Data/Mono/etc/mono/config
client/build/bioblox_Data/Mono/etc/mono/mconfig/config.xml
client/build/bioblox_Data/Resources/database.xml
client/build/bioblox_Data/Resources/unity default resources
client/build/bioblox_Data/Resources/unity_builtin_extra
client/build/bioblox_Data/app.info
client/build/bioblox_Data/globalgamemanagers
client/build/bioblox_Data/globalgamemanagers.assets
client/build/bioblox_Data/level0
client/build/bioblox_Data/output_log.txt
client/build/bioblox_Data/resources.assets
client/build/bioblox_Data/resources.assets.resS
client/build/bioblox_Data/sharedassets0.assets
client/build/bioblox_Data/sharedassets0.assets.resS
client/build/bioblox_Data/sharedassets0.resource
