*.userprefs
*.TMP
*.sdf
*.suo
*.log
*.tlog
*.pdb
*.exe
*.obj
*.idb
*.ilk
*.opensdf
*.nvuser
*.iobj
*.ipdb
*.pyd
PDB_Python/build/temp.win-amd64-3.5/Release/thumbnail.cp35-win_amd64.exp
PDB_Python/build/temp.win-amd64-3.5/Release/thumbnail.cp35-win_amd64.lib
